<!DOCTYPE html>
<html>
  <head>
    <title>PythonAnyWhere - Bekabe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to PythonAnyWhere, Flask framework</h1>
      <h2>Home of Ryan Bekabe - bekabeipa@gmail.com!</h2>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
      <p>Click <a href="/login">here</a> to go login.</p>
      <p>Click <a href="/hello">here</a> to go hello.</p>
      <p>Click <a href="/webcam">here</a> to go webcam.</p>
    </div>
    <div class="container">
    <h1>Python Flask File Upload Example</h1>
    <h2>Select a file to upload</h2>
    <p>
    	{% with messages = get_flashed_messages() %}
    	  {% if messages %}
    		<ul class=flashes>
    		{% for message in messages %}
    		  <li>{{ message }}</li>
    		{% endfor %}
    		</ul>
    	  {% endif %}
    	{% endwith %}
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
    		<p>
    			<input type="file" name="file" autocomplete="off" required>
    		</p>
        </dl>
        <p>
    		<input type="submit" value="Submit">
    	</p>
    </form>
    </div>
  </body>
</html>
