<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Flask Home</h1>
      <br>...</br>
      <h2>Home of Ryan Bekabe - bekabeipa@gmail.com!</h2>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
      <p>Click <a href="/login">here</a> to go login.</p>
      <p>Click <a href="/hello">here</a> to go hello.</p>
      <p>Click <a href="/webcam">here</a> to go webcam.</p>
    </div>
  </body>
</html>
